.mui-bar{
	padding-top: 22px;
	height: 66px;
	background: rgba(60, 160, 240, 0.8);
}
.mui-bar-nav~.mui-content{
	padding-top: 66px;
}
.mui-bar .mui-title,
.mui-bar-nav.mui-bar .mui-icon{
	color: #fff;
}
