.mui-bar{
	padding-top: 22px;
	height: 66px;
	background: linear-gradient(to bottom, #58B7FF, #1D8CE0);
}
.mui-bar-nav~.mui-content{
	padding-top: 66px;
}
.mui-bar .mui-title,
.mui-bar-nav.mui-bar .mui-icon{
	color: #fff;
}
